<div class="w-full h-full items-center   justify-center bg-black transition ease-in-out">
  <div class="w-10/12 bg-black h-screen m-auto ease-in transition-all">
    <nav class="z-55  w-10/12 fixed">
      <div class="min-h-[5rem] items-center center flex flex-row justify-between">
        <div class="text-3xl text-slate-100 flex-shrink-0">
          < <span class="text-slate-400">A K </span>
            <span class="text-blue-800">/</span> >
        </div>
        <div class="text-xl text-blue-400 flex flex-row space-x-8 invisible md:visible">
          <a href="#home">Home</a>
          <a href="#portfolio">Portfolio</a>
          <a href="#">Contact</a>
        </div>
      </div>
    </nav>

    <div class="h-screen transition-all duration-200 ease-in">
      <div id="home" class="w-full  m-auto flex flex-row justify-between">
        <div class="mt-40 md:mt-2 flex flex-col min-h-[40rem] justify-center">
          <div class="text-2xl text-slate-500">
            Hi! I am
            <div class="text-6xl font-bold text-slate-300">Adithya Krishnan</div>
          </div>
          <div class="mt-4 flex text-blue-500 text-4xl font-bold">
            I do cool stuffs ig!?
          </div>
          <div class="mt-6 flex text-slate-400 text-lg max-w-[40rem]">
            I am B.Tech in Computer Science and Engineering Sophomore, skilled in
            app and web development. I like coding dumb and interesting stuffs.
          </div>

          <div>
            <a href="#skills">
              <button
                class="animate-pulse mt-8 justify-end items-end text-blue-500 w-36 bg-transparent hover:bg-blue-500 bg-slate-100 font-semibold hover:text-white py-2 px-4 border border-blue-600 hover:border-transparent rounded">
                Explore More
              </button>
            </a>
          </div>
        </div>
        <div class="flex flex-col min-h-[50rem] justify-center">
          <img class="max-h-80 flex-shrink-0" src="../assets/fox.png" />
        </div>
      </div>

    </div>




    <!-- <ol class="relative border-l border-gray-200">
      <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white"
        >
          <svg
            aria-hidden="true"
            class="w-3 h-3 text-blue-800"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900">Something ig</h3>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
          >dsfsdf</time
        >
        <p class="text-base font-normal text-gray-500">sdfsdf</p>
      </li>
    </ol> -->

    <div id="skills" class="h-screen  overflow-hidden scrollbar-hide transition-all duration-200 ease-in">
      <div class=" my-[5rem] text-6xl font-light text-slate-200">My Skills</div>
      <div
        class="h-screen  ">
       <img src="https://skillicons.dev/icons?i=flutter&theme=dark" class="m-20 hover:scale-110">
       <!-- ,firebase,dotnet,java,python,c,cs,react,typescript,js,html,css,mongodb,mysql,git, -->
      </div>
    </div>

    <div id="portfolio" class="h-screen  overflow-auto scrollbar-hide">
      <div class=" my-[5rem] text-6xl font-light text-slate-200">My Portfolio</div>

      <div class="">
        <div
          class=" md:max-h-[21rem]  bg-slate-100 flex flex-col max-w-[30rem] md:max-w-[45em] md:flex-row border border-black items-center justify-center m-auto">
          <div class="bg-white w-full items-center justify-center m-auto border-b-2 md:border-r-2">
            <img class="w-11/12 md:max-w-md max-w-xs m-auto" src="../assets/drishti.png" />
          </div>
          <div class="flex flex-col md:w-10/12 w-10/12 m-6">
            <div class="text-3xl">Drishti</div>
            <div class="mt-4 text-slate-500">
              Drishti is a software created as a project for Define hack 2022, which
              we decided to build a little more. This app aims to make reporting and
              spreading the news of accidents and dangers easier and effective.
              Uses: Flutter, Firebase( with google analytics / crashlytics ),
              MongoDB, Openweather Api
            </div>
            <a href="https://github.com/fal3n-4ngel/Drishti-Client">
              <button
                class="mt-4 justify-end items-end w-36 bg-transparent hover:bg-slate-900 bg-slate-100 font-semibold hover:text-white py-2 px-4 border border-slate-600 hover:border-transparent rounded">
                View
              </button>
            </a>
          </div>
        </div>

        <div
          class="mt-12 md:max-h-[21rem] bg-slate-100 flex flex-col max-w-[30rem] md:max-w-[45em] md:flex-row border border-black items-center justify-center m-auto">
          <div
            class="bg-white block md:hidden visible md:invisible w-full items-center justify-center m-auto border-b-2 md:border-r-2">
            <img class="md:max-w-md w-11/12 max-w-xs m-auto" src="../assets/ctracker.png" />
          </div>
          <div class="flex flex-col md:w-10/12 w-10/12 m-6">
            <div class="text-3xl">C Tracker</div>
            <div class="mt-4 text-slate-500">
              Ahem... C-Tracker or Curriculum-Tracker is a todo App themed for
              academic purposes , developed as a micro project for Semester 3 Object
              Oriented Java. Simply a fancy todo app that we coded in a single
              sleepless night. Uses: Java , Swing , sqllite
            </div>
            <a href="https://github.com/fal3n-4ngel/CTracker">
              <button
                class="mt-4 justify-end items-end w-36 bg-transparent hover:bg-slate-900 bg-slate-100 font-semibold hover:text-white py-2 px-4 border border-slate-600 hover:border-transparent rounded">
                View
              </button>
            </a>
          </div>
          <div
            class="bg-white hidden md:block invisible md:visible w-full items-center justify-center m-auto border-b-2 md:border-r-2">
            <img class="md:max-w-md w-11/12 max-w-xs m-auto" src="../assets/ctracker.png" />
          </div>
        </div>

        <div
          class="mt-12 md:max-h-[21rem] bg-slate-100 flex flex-col max-w-[30rem] md:max-w-[45em] md:flex-row border border-black items-center justify-center m-auto">
          <div class="bg-white w-full items-center justify-center m-auto border-b-2 md:border-r-2">
            <img class="md:max-w-md w-11/12 max-w-xs m-auto" src="../assets/id.png" />
          </div>
          <div class="flex flex-col md:w-10/12 w-10/12 m-6">
            <div class="text-3xl">MBCET Slip App</div>
            <div class="mt-4 text-slate-500">
              Contributed to MBCET Slip app by creating an animated Virtual Idcard
              screen using Jetpack Compose. Created by GDSC MBCET community as a
              project for Compose Camp lead by Ben Goerge Netto. Uses: Jetpack
              Compose
            </div>
            <a href="https://github.com/fal3n-4ngel/komi">
              <button
                class="mt-4 justify-end items-end w-36 bg-transparent hover:bg-slate-900 bg-slate-100 font-semibold hover:text-white py-2 px-4 border border-slate-600 hover:border-transparent rounded">
                View
              </button>
            </a>
          </div>
        </div>

        <div
          class="mt-12 md:max-h-[21rem] bg-slate-100 flex flex-col max-w-[30rem] md:max-w-[45em] md:flex-row border border-black items-center justify-center m-auto">
          <div
            class="bg-white block md:hidden visible md:invisible w-full items-center justify-center m-auto border-b-2 md:border-r-2">
            <img class="md:max-w-md w-11/12 max-w-xs m-auto" src="../assets/komi.png" />
          </div>
          <div class="flex flex-col md:w-10/12 w-10/12 m-6">
            <div class="text-3xl">Anime search App</div>
            <div class="mt-4 text-slate-500">
              A simple anime searchingapp using flutter and anilist, return the
              details of the searched anime from anilist apilist with coverimage.
              Uses: Flutter, Anilist Api
            </div>
            <a href="https://github.com/fal3n-4ngel/Slip-App-IdCard">
              <button
                class="mt-4 justify-end items-end w-36 bg-transparent hover:bg-slate-900 bg-slate-100 font-semibold hover:text-white py-2 px-4 border border-slate-600 hover:border-transparent rounded">
                View
              </button>
            </a>
          </div>
          <div
            class="bg-white hidden md:block invisible md:visible w-full items-center justify-center m-auto border-b-2 md:border-r-2">
            <img class="md:max-w-md w-11/12 max-w-xs m-auto" src="../assets/komi.png" />
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-white w-10/12">
      <div class="min-h-[5rem] items-center center flex flex-row justify-between"></div>
    </footer>
  </div>
</div>