<div class="w-10/12 m-auto">
  <nav class="w-full">
    <div class="min-h-[5rem] items-center center flex flex-row justify-between">
      <div class="text-3xl text-slate-400 flex-shrink-0">
        < <span class="text-slate-800">A K </span>
        <span class="text-red-800">.</span> >
      </div>
      <div class="text-xl flex flex-row space-x-8 invisible md:visible">
        <div>About</div>
        <div>Portfolio</div>
        <div>Projects</div>
        <div>Contact</div>
      </div>
    </div>
  </nav>

  <div class="w-full m-auto flex flex-row justify-between">
    <div class="flex flex-col min-h-[40rem] justify-center">
      <div class="text-2xl text-slate-900">
        Hi! I am <span class="text-red-500">Adithya Krishnan</span>
      </div>
      <div class="flex text-6xl font-bold">Some random catchy phrase</div>
      <div class="mt-6 flex text-slate-400 text-lg max-w-[40rem]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
        sollicitudin orci et libero mollis ultricies. Aenean euismod ut odio at
        aliquam. Fusce non mauris aliquam, pulvinar enim non, iaculis odio.
        Aliquam mauris nulla, finibus in massa quis, egestas vestibulum quam.
        Maecenas ultrices at ex ac pulvinar.
      </div>
      <div class="mt-4 flex flex-col text-xl text-red-500">Contact Me -></div>
      <div class="-translate-y-2 flex flex-col text-xl text-red-500">
        -------------
      </div>
    </div>
    <div class="flex flex-col min-h-[40rem] justify-center">
      <img class="max-h-80" src="../assets/hero-image.png" />
    </div>
  </div>

  <div id="portfolio">
    <div class="text-6xl font-light text-slate-900">My Portfolio</div>

    <div
      class="mt-12 md:max-h-[20rem] flex flex-col max-w-[30rem] md:max-w-[60rem] md:flex-row border border-black items-center justify-center m-auto"
    >
      <div
        class="md:max-w-[18rem] items-center m-auto w-10/12 border-b-2 md:border-r-2"
      >
        <img src="../assets/drishti.png" />
      </div>
      <div class="md:w-1/2 w-10/12 m-6">
        <div class="text-3xl">Drishti</div>
        <div class="mt-4 text-slate-500">
          Drishti is a software created as a project for Define hack 2022, which
          we decided to build a little more. This app aims to make reporting and
          spreading the news of accidents and dangers easier and effective.
          Uses: Flutter, Firebase(with google
          analytics/crashlytics),MongoDB,Openweather Api
        </div>
      </div>
    </div>

    <div
      class="mt-12 md:max-h-[20rem] flex flex-col max-w-[30rem] md:max-w-[60rem] md:flex-row border border-black items-center justify-center m-auto"
    >
      <div
        class="md:max-w-[18rem] items-center m-auto w-10/12 border-b-2 md:border-r-2"
      >
        <img src="../assets/drishti.png" />
      </div>
      <div class="md:w-1/2 w-10/12 m-6">
        <div class="text-3xl">MBCET Slip App</div>
        <div class="mt-4 text-slate-500">
          Contributed to MBCEt Slip app by created an animated Idcrad screen
          using Jetpack Compose Created by GDSC MBCET community as part of
          project for Compose Camp hosted by Google India lead by Ben Goerge
          Netto. Uses: Jetpack Compose
        </div>
      </div>
    </div>

    <div
      class="mt-12 md:max-h-[20rem] flex flex-col max-w-[30rem] md:max-w-[60rem] md:flex-row border border-black items-center justify-center m-auto"
    >
      <div
        class="md:max-w-[18rem] items-center m-auto w-10/12 border-b-2 md:border-r-2"
      >
        <img src="../assets/drishti.png" />
      </div>
      <div class="md:w-1/2 w-10/12 m-6">
        <div class="text-3xl">Anime search App</div>
        <div class="mt-4 text-slate-500">
          A simple anime searchingapp using flutter and anilist, return the
          details of the searched anime from anilist apilist with coverimage.
          Uses: Flutter, Anilist Api
        </div>
      </div>
    </div>
  </div>
</div>
