@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    padding: 0;
  
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


.scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}