@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
    scroll-behavior: smooth;
    height: 100%;
    width: 100dvw;
    overflow-x: hidden;
    

  
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


.scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.cover {
    padding: 0px 30px;
    position: relative;
  }
  .left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }